
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/duyurlar.css" />
  </head>
  <body>
    <div class="baslik-container">
      <h4>News Website</h4>
    </div>
    <div class="secenekler-container"></div>
    <div class="container" id="container">
    
    </div>
    <!-- Script -->
    <script src="/js/duyurlar.js"></script>
  </body>
</html>